<!-- start of product-selling-section -->
<section class="product-selling-section section-padding pl-60 pt-0">
  <div class="section-title">
    <h2>Best SELLERs</h2>
  </div>

  <div class="product-wrap">
    <div class="container-fluid">
      <div class="row product-active owl-carousel">
        <div class="product-item wow fadeInUp" data-wow-duration="1000ms">
          <a href="product-single.html" class="product-image">
            <span class="tag">For Sports</span>
            <span class="tag2 sold">Sold Out</span>
            <div class="image-wrap">
              <img
                class="image1 hover-image"
                src="{{ 'product1.png' | asset_url }}"
                width=""
                height=""
                alt="Image">
              <img
                class="image2 hidden-image"
                src="{{ 'producth1.png' | asset_url }}"
                width=""
                height=""
                alt="Static Image">
            </div>
          </a>
          <div class="product-info">
            <ul>
              <li>
                <a href="product-single.html"><img
                    src="{{ 'product1.png' | asset_url }}"
                    width=""
                    height=""
                    alt="Image"></a>
              </li>
              <li>
                <a href="product-single.html"><img
                    src="{{ 'product1.png' | asset_url }}"
                    width=""
                    height=""
                    alt="Image"></a>
              </li>
              <li>
                <a href="product-single.html"><img
                    src="{{ 'product1.png' | asset_url }}"
                    width=""
                    height=""
                    alt="Image"></a>
              </li>
              <li>
                <a href="product-single.html"><img
                    src="{{ 'product1.png' | asset_url }}"
                    width=""
                    height=""
                    alt="Image"></a>
              </li>
              <li>
                <a href="product-single.html">
                  <i class="ti-plus"></i>
                </a>
              </li>
            </ul>
            <h2>
              <a href="product-single.html">KARV速</a>
            </h2>
            <p>5 Models</p>
            <div class="price">
              <span>$135</span>
            </div>
          </div>
        </div>
        <div class="product-item wow fadeInUp" data-wow-duration="1200ms">
          <a href="product-single.html" class="product-image">
            <span class="tag">For Military</span>
            <div class="image-wrap">
              <img
                class="image1 hover-image"
                src="{{ 'product1.png' | asset_url }}"
                width=""
                height=""
                alt="Image">
              <img
                class="image2 hidden-image"
                src="{{ 'producth1.png' | asset_url }}"
                width=""
                height=""
                alt="Static Image">
            </div>
          </a>
          <div class="product-info">
            <ul>
              <li>
                <a href="product-single.html"><img
                    src="{{ 'product1.png' | asset_url }}"
                    width=""
                    height=""
                    alt="Image"></a>
              </li>
              <li>
                <a href="product-single.html"><img
                    src="{{ 'product1.png' | asset_url }}"
                    width=""
                    height=""
                    alt="Image"></a>
              </li>
              <li>
                <a href="product-single.html"><img
                    src="{{ 'product1.png' | asset_url }}"
                    width=""
                    height=""
                    alt="Image"></a>
              </li>
              <li>
                <a href="product-single.html"><img
                    src="{{ 'product1.png' | asset_url }}"
                    width=""
                    height=""
                    alt="Image"></a>
              </li>
              <li>
                <a href="product-single.html">
                  <i class="ti-plus"></i>
                </a>
              </li>
            </ul>
            <h2>
              <a href="product-single.html">KARV速</a>
            </h2>
            <p>5 Models</p>
            <div class="price">
              <span>$135</span>
            </div>
          </div>
        </div>
        <div class="product-item wow fadeInUp" data-wow-duration="1400ms">
          <a href="product-single.html" class="product-image">
            <span class="tag">For Running</span>
            <span class="tag2 new">New</span>
            <div class="image-wrap">
              <img
                class="image1 hover-image"
                src="{{ 'product1.png' | asset_url }}"
                width=""
                height=""
                alt="Image">
              <img
                class="image2 hidden-image"
                src="{{ 'producth1.png' | asset_url }}"
                width=""
                height=""
                alt="Static Image">
            </div>
          </a>
          <div class="product-info">
            <ul>
              <li>
                <a href="product-single.html"><img
                    src="{{ 'product1.png' | asset_url }}"
                    width=""
                    height=""
                    alt="Image"></a>
              </li>
              <li>
                <a href="product-single.html"><img
                    src="{{ 'product1.png' | asset_url }}"
                    width=""
                    height=""
                    alt="Image"></a>
              </li>
              <li>
                <a href="product-single.html"><img
                    src="{{ 'product1.png' | asset_url }}"
                    width=""
                    height=""
                    alt="Image"></a>
              </li>
              <li>
                <a href="product-single.html"><img
                    src="{{ 'product1.png' | asset_url }}"
                    width=""
                    height=""
                    alt="Image"></a>
              </li>
              <li>
                <a href="product-single.html">
                  <i class="ti-plus"></i>
                </a>
              </li>
            </ul>
            <h2>
              <a href="product-single.html">KARV速</a>
            </h2>
            <p>5 Models</p>
            <div class="price">
              <span>$135</span>
            </div>
          </div>
        </div>
        <div class="product-item wow fadeInUp" data-wow-duration="1600ms">
          <a href="product-single.html" class="product-image">
            <span class="tag2 limited">Limited Edition</span>
            <div class="image-wrap">
              <img
                class="image1 hover-image"
                src="{{ 'product1.png' | asset_url }}"
                width=""
                height=""
                alt="Image">
              <img
                class="image2 hidden-image"
                src="{{ 'producth1.png' | asset_url }}"
                width=""
                height=""
                alt="Static Image">
            </div>
          </a>
          <div class="product-info">
            <ul>
              <li>
                <a href="product-single.html"><img
                    src="{{ 'product1.png' | asset_url }}"
                    width=""
                    height=""
                    alt="Image"></a>
              </li>
              <li>
                <a href="product-single.html"><img
                    src="{{ 'product1.png' | asset_url }}"
                    width=""
                    height=""
                    alt="Image"></a>
              </li>
              <li>
                <a href="product-single.html"><img
                    src="{{ 'product1.png' | asset_url }}"
                    width=""
                    height=""
                    alt="Image"></a>
              </li>
              <li>
                <a href="product-single.html"><img
                    src="{{ 'product1.png' | asset_url }}"
                    width=""
                    height=""
                    alt="Image"></a>
              </li>
              <li>
                <a href="product-single.html">
                  <i class="ti-plus"></i>
                </a>
              </li>
            </ul>
            <h2>
              <a href="product-single.html">KARV速</a>
            </h2>
            <p>5 Models</p>
            <div class="price">
              <span>$135</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- start of product-category-section -->